p
{
color : rgb(175, 37, 146);
}
.header-background
{
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: underline;

}
#bigger-font
{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 32px;
}